.calendar-app {
  width: 60%;
  min-width: 90vmin;
  aspect-ratio: 3 / 2;
  background-color: #1e242d;
  padding: 3rem;
  border-radius: 3rem;
  border: 1rem solid #ef9011;
  display: flex;
  column-gap: 5rem;
}

.calendar {
  width: 40%;
}

.heading {
  font-family: "Nunito", sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem); /* minimum, preffered, maximum */
  color: #ef9011;
  letter-spacing: 0.1rem;
  padding-left: 1.3rem;
}

.navigate-date {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 3.5rem 0;
}

.navigate-date h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  padding-left: 1.3rem;
}

.buttons {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
}

.buttons i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ef9011;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  display: flex;
  margin: 3rem 0;
}

.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  display: flex;
  justify-content: center;
  color: #00a3ff;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days span {
  font-size: calc(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1; /* stessa grandezza della width */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

.current-day {
  background-color: #ef9011;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3);
}

.events {
  width: 60%;
  height: 100%;
  padding: 3rem 0;
  overflow-y: auto;
}

.events::-webkit-scrollbar {
  display: none;
}

.event-popup {
  position: absolute;
  top: 38%;
  left: 43.5rem;
  background-color: #161b22;
  width: clamp(25rem, 21cqi, 40rem);
  aspect-ratio: 10 / 9;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.time-input {
  display: flex;
  column-gap: 1rem;
}

.event-popup-time {
  width: calc(4rem, 4cqi, 7rem);
  background-color: #00a3ff;
  font-family: "Nunito", sans-serif;
  font-size: clamp(1.2rem, 1.2cqi, 1.9rem);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.5rem 1rem rgba(0, 163, 255, 0.2);
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.time-input input {
  background-color: transparent;
  border: none;
  border-top: 0.2rem solid #00a3ff;
  border-bottom: 0.2rem solid #00a3ff;
  width: clamp(4rem, 4cqi, 7rem);
  height: 4rem;
  text-align: center;
  font: clamp(1.2rem, 1.2cqi, 1.6rem);
  color: #fff;
}

/* elimina le arrow di default */
.time-input input[type="number"]::-webkit-outer-spin-button,
.time-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.time-input input[type="number"] {
  -moz-appearance: textfield;
}

.event-popup textarea {
  width: clamp(15rem, 15cqi, 25rem);
  aspect-ratio: 5 / 2;
  resize: none;
  background-color: #0f1319;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

.event-popup textarea:focus {
  border: 0.1rem solid #00a3ff;
  transition: border 0.5s;
}

.event-popup textarea::placeholder {
  font-size: clamp(1rem, 0.8cqi, 1.2rem);
}

.event-popup textarea:focus::placeholder {
  color: transparent;
}

.event-popup-btn {
  width: clamp(15rem, 15cqi, 25rem);
  height: 4rem;
  background-color: #ef9011;
  color: #fff;
  font-size: clamp(1.2rem, 1.2cqi, 1.9rem);
  letter-spacing: 0.1rem;
  border: none;
  box-shadow: 0 0 1.2rem 1rem rgba(239, 144, 17, 0.2);
  cursor: pointer;
}

.event-popup-btn:active {
  transform: translateY(0.1rem);
}

.close-event-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-event-popup i {
  font-size: 2.5rem;
  color: #fff;
}

.event {
  width: 100%;
  height: 7rem;
  background-color: #00a3ff;
  padding: 1.5rem 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.event-date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.event-date {
  font-size: clamp(1rem, 1cqi, 1.2rem);
  color: black;
}

.event-time {
  font-size: clamp(1.3rem, 1cqi, 1.6rem);
  line-height: 4rem;
  font-weight: bold;
}

.event-text {
  font-size: clamp(1.2rem, 1cqi, 1.4rem);
  line-height: 2rem;
  width: 75%;
  padding: 0 3rem 0 1rem;
  overflow-wrap: break-word; /* con testi lunghi va a capo */
}

.event-buttons {
  display: flex;
}

.event-buttons i {
  font-size: 2.2rem;
  cursor: pointer;
}

.bxs-edit-alt {
  color: greenyellow;
  font-weight: 900;
  margin-right: 1rem;
}

.fa-square-xmark {
  color: red;
  font-weight: 900;
  margin-right: 2rem;
}

/* RESPONSIVE  */
@media (max-width: 850px) {
  .calendar-app {
    flex-direction: column;
    row-gap: 2rem;
    aspect-ratio: 3 / 2;
  }

  .calendar {
    width: 70%;
    margin: auto;
  }

  .navigate-date {
    margin: 1rem 0;
  }

  .weekdays {
    margin: 2rem 0;
  }

  .events {
    width: 80%;
    margin: auto;
  }

  .event-popup {
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    aspect-ratio: 4 / 3;
    row-gap: 1rem;
  }

  .event-popup-time {
    width: clamp(5rem, 10cqi, 8rem);
    font-size: clamp(1.5rem, 3cqi, 2.2rem);
  }

  .time-input input {
    width: clamp(5rem, 10cqi, 8rem);
    font-size: clamp(1.2rem, 2cqi, 1.6rem);
  }

  .event-popup textarea {
    width: clamp(18rem, 35cqi, 28rem);
  }

  .event-popup textarea::placeholder {
    font-size: clamp(1rem, 1.5cqi, 1.2rem);
  }

  .event-popup-btn {
    width: clamp(18rem, 35cqi, 28rem);
    font-size: clamp(1.5rem, 3cqi, 2.2rem);
  }

  .event-date {
    font-size: clamp(1rem, 1.4cqi, 1.2rem);
  }

  .event-time {
    font-size: clamp(1rem, 2cqi, 1.6rem);
  }
  .event-text {
    font-size: clamp(1rem, 2.5cqi, 1.4rem);
  }
}
