.calendar-app {
  width: 60%;
  min-width: 90vmin;
  aspect-ratio: 3 / 2;
  background-color: #1e242d;
  padding: 3rem;
  border-radius: 3rem;
  border: 1rem solid #a69485;
  display: flex;
  column-gap: 5rem;
}

.calendar {
  width: 40%;
}

.heading {
  font-family: "Nunito", sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem); /* minimum, preffered, maximum */
  color: #a69485;
  letter-spacing: 0.1rem;
  padding-left: 1.3rem;
}

.navigate-date {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 3.5rem 0;
}

.navigate-date h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  color: #bbb;
  padding-left: 1.3rem;
}

.buttons {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
}

.buttons i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #a69485;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  display: flex;
  margin: 3rem 0;
}

.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  display: flex;
  justify-content: center;
  color: aquamarine;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days span {
  font-size: calc(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1; /* stessa grandezza della width */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

.current-day {
  background-color: #ef9011;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3);
}

.events {
  width: 60%;
  height: 100%;
  padding: 3rem 0;
}
